@tailwind base;
@tailwind components;
@tailwind utilities;

textarea,
input {
  @apply outline-blue-700;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
