tr {

  th,
  td {
    @apply p-4;
  }

  th {
    @apply text-left;
  }
}

.search {
  width: calc(100vw - 30rem);
}

.disable {
  @apply bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded;
}

.enable {
  @apply bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded;
}

.btn {
  @apply ml-6 flex items-center rounded-md text-white text-sm font-medium pl-2 pr-3 py-2 shadow-sm;
}

.btn-blue {
  @apply bg-blue-400;
}

.btn-blue:hover {
  @apply bg-blue-500;
}

/* The Modal (background) */
.modal {
  // display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #d3dcef;
  width: 80%;
}

/* The Close Button */
// .close {
//   color: #aaaaaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }

// .close:hover,
// .close:focus {
//   color: #000;
//   text-decoration: none;
//   cursor: pointer;
// }
